flask
flask-smorest
flask-cors
python-dotenv
marshmallow
sqlalchemy
flask-sqlalchemy
flask-migrate
datasets
alembic
nltk
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
numpy
selfcheckgpt