html {
    font-size: 1rem;
}

body {
    margin: 0px;
    height: 100%;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #6676d3;
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
    padding: 30px 15px;
}

.content {
    padding: 20px 0;
}

form .p-dropdown, .p-multiselect, .p-inputtext:not(.p-inputtextarea) {
    width: 350px;
}

form .p-inputtextarea {
   width: 650px;
}

form .p-button {
    width: 80px;
}

.p-selectbutton {
    .p-button.p-highlight {
        background: #3F51B5;
        color: #ffffff;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
}